/* .user-details {

    color: white;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    padding: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 95px;


} */


.user-card {
    background-color: blueviolet;
    width: 250px;
    height: 100px;
    /* margin-bottom: -50px; */
    border-radius: 20px 20px 20px 20px;
    margin-right: 10%;
    /* margin-left: 10%; */
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-items: center;
}


.user-img-div2 {
    max-width: 69px;
    /* margin-left: 20px; */
    /* margin-top: 44px; */
    border-radius: 50%;
    border: 7px solid #36393f;
    /* top: 45%; */
    /* object-fit: contain; */
    /* display: flex;
    flex-direction: column; */
    height: 70px;
}

.user-img2 {
    max-width: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.buttons-div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(59, 165, 93);
    border: none;
    color: white;
    height: 45px;
    width: 400px;
    border-radius: 5px;
    border: none;
    transition: background-color .2s ease;
    font-family: adelle-sans, sans-serif;
    font-style: bold;
    font-size: 18px;
}

.button:hover {
    background-color: rgb(32, 93, 51);
}

.button:active {
    transform: scale(0.95);
}
