/* ****************** SERVERS COLUMN ************************* */
/* styles user landing page layout */
.servers-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* styles div for all servers container */
.servers-column-container {
  display: flex;
  flex-direction: column;
  width: 75px;
  padding: 15px 0;
  background-color: #202225;
}
/* styles container for dm button */
.dm-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  content: '';
  border-bottom: 1px solid white;
  padding: 0 15px;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
}
/* styles dm button */
.dm-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #5865f2;
  object-fit: contain;
}
/* hovering effect over dm HOME button */
.dm-button:hover {
  border-radius: 15px;
}
/* styles div that holds server buttons */
.servers-button-column {}

/* syles the div holding all server buttons */
.servers-photo-container {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}
/* styles server button */
.servers-photo {
  width: 40px;
  height: 40px;
  border: none;
  /* border: 1px solid white; */
  object-fit: cover;
  border-radius: 40px;
  background-color: #36393f;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles hovering effect on server button */
.servers-photo:hover {
  border-radius: 15px;
  background-color: #5865f2;
}
/* ****************** CHANNELS COLUMN ************************* */
/* styles div holding all channels list */
.server-channels-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 135px;
  background-color: #2f3136;

}
/* div styling the layout of all channel names and edit channel buttons */
.server-channel-layout {
  display: flex;
  /* border: 1px solid pink; */
  flex-direction: column;
  max-height: 85%;
  overflow: scroll;
  /* overflow-x: hidden; */
}
/* scroll bar effect when channels list get longer than channels container height */
.server-channel-layout::-webkit-scrollbar{
  display: none;
  /* overflow: auto;
  display: flex;
  flex-direction: column-reverse; */
}
/* DIV styling the container for CHANNELS name and add a channel button */
.server-title-container {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* styles CHANNEL name */
.server-title {
  height: 50px;
  color: white;
  font-size: 18px;
  font-family: adelle-sans, sans-serif;
  font-style: normal;
  display: flex;
  align-items: space-between;
  align-items: center;
  margin-left: 10px;
}
/* div holding the add a channel button container */
.add-channel-container{
  width: 20px;
  height: 20px;
  border: none;
  /* border: 1px solid white; */
  object-fit: cover;
  border-radius: 40px;
  background-color: #36393f;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* trying this div to figure out channel names and button layout */
#some-name{
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

/* styles hashtag on the left of every channel name */
.hashtag-channel{
  border: 1px solid red;
  display: flex;
  color: #dcddde;
  height: 15px;
  padding: 15px 0;
  font-family: adelle-sans, sans-serif;
  /* padding: 2.2px 14px; */
  align-items: center;
}
/* styles each channel name */
.server-channel-name {
  width: 94px;
  display: flex;
  justify-content: center;
  color: white;
  list-style: none;
  padding: 15px 0;
  font-family: adelle-sans, sans-serif;

  /* padding-right: 10px; */
}
/* styles container for each channel button */
.update-channel-container{
  width: 17px;
  border: 1px solid pink;
  display: flex;
  align-items: center;
}
/* styles each update channel button */
.update-channel-button{
  border: 1px solid green;
}
.servers-dm-footer {
  display: flex;
  /* border: 1px solid purple; */
  justify-content: space-around;
  align-items: center;
  /* position: absolute; */
  top: 880px;
  background-color: #2f3136;
}

.user-photo {
  width: 38px;
  height: 38px;
  /* border: 1px solid white; */
  object-fit: cover;
  border-radius: 48px;
  background-color: #36393f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servers-user {
  font-family: adelle-sans, sans-serif;
  font-size: 12px;
  color: white;
}
/* ****************** MESSAGES COLUMN ************************* */

.channel-messages-container {
  /* border: 1px solid blue; */
  width: 1172px;
  background-color: #36393f;
  border-right: 1px solid white;
  overflow: scroll;
  overflow-x: hidden;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: row; */
}

.channel-messages-container::-webkit-scrollbar {
  display: none;
}

.channel-message-date {
  border-bottom: 1px solid white;
  font-family: adelle-sans, sans-serif;
  font-size: 12px;
  text-align: center;

}

.channel-input-textbox-container{
  border: 1px solid pink;
  position: absolute;
  /* bottom: -100px; */
  width: 925px;
  bottom: 0px
}
.channel-message-form{
  border: 1px solid blue;
}
.channel-message {
  font-family: adelle-sans, sans-serif;
  font-size: 12px;
  /* overflow: scroll; */
}
/* ****************** ACTIVE SECTION COLUMN *************************  */
.server-active-container {
  /* border: 1px solid black; */
  background-color: #36393f;
  width: 420px;
}

.subButton {
  height: 45px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: #5865f2;
  color: white;
  transition: background-color .2s ease;
}

.subButton:hover {
  background-color: #373f99;
}


.update-del {
  font-size: 10px;
}

/* .server-title {} */
