.delete-channel-bttnhide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5865f2;
  color: white;
  max-height: 45px;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.delete-channel-bttnhide:hover {
  background-color: #434a94;
}

.delete-div {
  display: flex;
  flex-direction: column;
  /* padding-top: 15px; */
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1%;
}

.delete-channel-bttnvisible {
  display: none;
}

.delete-channel-bttn:hover {
  background-color: #5865f2;
  color: white;
  max-height: 45px;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.confirm-channel-bttn {
  background-color: #5865f2;
  color: white;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.confirm-channel-bttn:hover {
  background-color: #434a94;
  color: white;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.cancel-channel-bttn {
  background-color: #5865f2;
  color: white;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.cancel-channel-bttn:hover {
  background-color: #434a94;
  color: white;
  height: 35px;
  width: 400px;
  border: none;
  border-radius: 2px;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.create-channel-submit-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
