.background {
  z-index: -1;
  background-image: url("../../Images/discord-signup-login.png");
  height: 942px;
  border: 1px solid springgreen;
  background-position: center;
}

.form-container {
  z-index: -1;
  background-image: url("../../Images/discord-signup-login.png");
  height: 942px;
  /* border: 1px solid springgreen; */
  background-position: center;
  /* object-fit: cover; */
  height: 100vh;
  /* border:  red solid 2px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid black 1px;
  height: 500px;
  width: 800px;
  background-color: #36393f;
  color: aliceblue;
  gap: 110px;
  padding: 0px 40px;
  border-radius: 6px;
  border: none;
  align-items: center;
}


.inp {
  height: 40px;
  width: 400px;
  background-color: #202225;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: adelle-sans, sans-serif;
  font-style: normal;
}

.inp:focus {
  outline: none;
  font-family: adelle-sans, sans-serif;
  font-style: normal;
}

.subButton {
  height: 45px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: #5865f2;
  color: white;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

.errors-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: adelle-sans, sans-serif;
  font-size: 14px;
  font-style: italic;
}

#subButton:hover {
  background-color: #373f99;
}

#to-signup {
  color: rgb(133, 133, 133);
  font-family: adelle-sans, sans-serif;
  font-style: normal;
}

#to-signup>a {
  color: #05a5cd;
  text-decoration: none;
}

#to-signup>a:hover {
  text-decoration: underline;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 0;
  /* border: solid red 1px; */
}


#welcome>p {
  color: rgb(133, 133, 133);
}

#welcome-text {
  /* border: solid yellow 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
}

.text.renderError {
  color: rgb(121, 56, 56)
}

.text.noRenderError {
  color: #a2a3a5;
}

.text {
  /* border: blue solid 1px; */
  height: 35px;
  font-family: adelle-sans, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  .qCode-container {
    visibility: hidden;
  }

  .form-card {
    width: 80%;
  }

  #form {
    width: auto;
  }
}

/* ************ SIGN UP FORM ************* */
.form-card-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid black 1px;
  height: 650px;
  width: 500px;
  background-color: #36393f;
  color: aliceblue;
  gap: 50px;
  padding: 0px 40px;
  border-radius: 6px;
  border: none;
  align-items: center;
}

.form-card-1>form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.inp2 {
  height: 40px;
  width: 500px;
  background-color: #202225;
  border-radius: 5px;
  border: none;
  color: white;
}

.inp2:focus {
  outline: none;
}

#subButton2 {
  height: 45px;
  width: 500px;
  border-radius: 5px;
  border: none;
  background-color: #5865f2;
  color: white;
  transition: background-color .2s ease;
  font-family: adelle-sans, sans-serif;
  font-style: bold;
  font-size: 18px;
}

#subButton2:hover {
  background-color: #373f99;
}

#to-signup2 {
  color: #05a5cd;
  text-decoration: none;
  font-family: adelle-sans, sans-serif;
  border: 1px solid wheat;
}

#to-signup2:hover {
  text-decoration: underline;
}

/* #form label {
  color: #a2a3a5;
} */

.qCode-container {
  /* border: 1px solid white; */
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qCode {
  height: 200px;
  width: 200px;
}

.qCode-title {
  border: 1px solid pink;
  font-family: adelle-sans, sans-serif;
  font-style: normal;

}

.qCode-subtext {
  border: 1px solid green
}
