#discover {
    background: #ffffff;
    color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif ;

@media screen and (min-width: 1024px) {}
}

#discover-title {
    /* NOTE david please put whitney font here */
    
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index:1;
    position: relative;
   
}
#discover-links {
text-decoration: none;
color: black;
max-width: 700px;
}
#conteiner {
    background: #ffffff;
    margin-top: 30%;
    color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif ;
    width: 800px;
}

#single-server-name {
    font-weight: 600;
    padding-bottom: 2%;
    padding-top: 4%;
    font-size: 18px;
}

#single-server-description {
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 2%;
    padding-left:2%;
}


#header-img {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
}
#discover-header-img {
        max-width: 100%;
        z-index:0;
        position: absolute;
      
}

#discover-title-2 {
    color:white;
    position: absolute;
    top:20%;


}

#discover-title-3 {
    box-sizing: border-box;
    width: 600px;
    color:white;
    position: absolute;
    top:10em;
    font-weight: 250;;
}

#single-server {
    box-sizing: border-box;
    
    height: 15%;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    border-radius: 10px;
    width: 100%
}
#NavBar {
    z-index:2;
}

#server-img-div{
    display: flex;
    align-items: center;
    top: 10px;
    height: 160px;
    width: 300px;
    justify-content: center;
    padding: 2%;
}

#single-server-img{
    
    align-content: center;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: flex;

    
}

#singel-server-content {
    box-sizing: border-box;
    
}